.header {
    background-image: url('img/9ded2b69261ba00083f29f1d545d706f.png'); 
    background-size: cover;
    background-position: center top -91%;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 39px;
    padding-bottom: 39px;
    }

    .background{
        margin-bottom: 1px;
        background-image: url(img/Group\ 48\ 1.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .button{
        background-color: #0B0E66;
        color: #26C7EA;
        border: 2px solid #26C7EA;
        padding: 8px 16px;
        font-size: 17px;
        cursor: pointer; 
        width: 175px;
        height: 50px; 
        border-top-left-radius: 30px; 
        border-bottom-right-radius: 30px; 
    }

    .text{
        width: 298px;
        height: 96px;
        color: #FFFFFF;
    }

    .text p{
        margin: 0;
    }

    .arrow{
        width: 152px;
        height: 40px;
    }

    .caption{
        width: 376px;
        height: 123px;
        color: #FFFFFF;
    }

    .join-button{
    background-color: #0B0E66;
color: #26C7EA;
border: 2px solid #26C7EA;
padding: 8px 16px;
font-size: 17px;
cursor: pointer;
width: 175px;
height: 50px; 
border-top-left-radius: 30px; 
border-bottom-right-radius: 30px; 
}

.join-button::before,
.join-button::after {
content: '';
width: 20px;
height: 20px;
background-color: #0B0E66;
z-index: -1;
}

.join-button::before {
}

.join-button::after {
}

.img{
}

    .logo {
    margin-right: 50px; 
    }
    
    .menu {
    display: flex;
    }
    
    .menu span {
        display: flex;
    font-size: 20px; 
    }

    .menu a {
    color: #fff;
    text-decoration: none;
    }
    
    .menu a:nth-child(1) {
    color: #94CFFF;
    }

    .content{
        text-align: center;
        margin-top: 75px;
    }

    .content p{
        font-size: 24px;
        color: #0A3853;
    }

    .content p:last-child{
        color: #000000;
        font-size: 20px;
    }

    .contered-image{
        display: block;
        margin: 0 auto;
    }

    .text-container{
        text-align: center;
        color: #141414;
        font-size: 24px;
    }

    .Jake{
        color: #000000;
        text-align: 20px;
    }
     
        .container img {
        display: block;
        }
        
        .card-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
        }
        
        .card {
            
        width: 320px;
        height: 240px;
        background-color: rgba(255, 255, 255, 0.7);
        border: 1px solid #ccc;
        margin-bottom: 10px;
        }

        .tibxt{
        text-align: center;
        color: #141414;
        font-size: 24px;
        }

        .Netiri{
        color: #000000;
        text-align: 20px;
        }


        .main-about{
            background-image: url(img/Group\ 48\ 1.png);
            padding-top: 180px;
            padding-bottom: 179px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .footer {
            background-color: #1a2b38; 
            color: #fff; 
            text-align: center; 
            padding: 20px 0; 
            background-image: url(img/9ded2b69261ba00083f29f1d545d706f.png);
           background-size: cover;
           background-position: center;
           background-repeat: no-repeat;
           padding: 60px;
            }

            .lcxgo{
            width: 183px;
            height: 70px;
            top: 3462px;
            left: 204px;
            }
            
            .footer img {
            width: auto;
            height: 100px;
            }
            
            .footer .email {
            margin: 10px 0;
            display: flex;
            justify-content: center;
            gap: 40px; 
            }
            
            .footer .email div {
            display: inline-block;
            }
            
            .footer p {
            margin: 10px 0;
            }

            .teps{
                display: flex;
                justify-content: center;
                text-align: center;
                font-size: 12px;
            }

            .wand{
            width:  653px;
            border:  2px;   
            }

           .trailer{
            background-image: url(img/8a8d0133a3ef0943ba0fad8e74a7dfde.jfif);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding-top: 330px;
            padding-bottom: 331px;
           }

           .cart{
            background-image: url(img/Rectangle\ 20.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
           }

           .card-list{
            display: flex;
            text-align: center;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .card{
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

           .beton{
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: flex-end;
            background-color: #0B0E66;
        color: #26C7EA;
        border: 2px solid #26C7EA;
        padding: 8px 16px;
        font-size: 17px;
        cursor: pointer; 
        width: 175px;
        height: 50px; 
        border-top-left-radius: 30px; 
        border-bottom-right-radius: 30px; 
           }

           .container{
            width: 1200px;
            margin: 0 auto;
            padding: 0 15px;
           }

           .flex-1{
            display: flex;
            justify-content: space-between;
            align-items: center;
           }

           .flex-2{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row-reverse;
            
           }

           .main-right{
            display: flex;
            flex-direction: column;
           }

           .flex-3{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-direction: column;
           }

         .flex-5{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-direction: column;
         }

         .flex-6{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: space-around;  bacground image lianer gradient
         }

         .flex-7{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-direction: column;
         }

        .flex-4{
            display: flex;
            justify-content: center;
        }

        .ferry{
            display: flex;
            justify-content: center;
        }

        